@model UserManager.ViewModels.Home.LoginVM
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
                <td style="background-color:#e6e6e6;">
                  <fieldset>
                      <legend> Login </legend>
                      <form action="/home/login" method="post">
                         @Html.ValidationMessage("AuthenticationFailed", new { style = "color:red" });
                          <table>
                              <tr>
                                  <td> @Html.LabelFor(m => m.Username)</td>
                                  <td>
                                     @Html.TextBoxFor(m => m.Username)
                                  </td>
                                  <td> 
                                      @Html.ValidationMessageFor( m => m.Username, null, new { style = "color:red" })
                                  </td>
                              </tr>
                              <tr>
                                  <td> @Html.LabelFor(m => m.Password)</td>
                                  <td>
                                      @Html.PasswordFor(m => m.Password)
                                  </td>
                                  <td>
                                      @Html.ValidationMessageFor(m => m.Password, null, new { style = "color:red" })
                                  </td>
                              </tr>
                              <tr>
                                  <td>
                                      <input type="submit" value="Login" style="float:right;"/>
                                  </td>
                              </tr>
                          </table>
                      </form>
                  </fieldset>
                </td>
          