@model UserManager.ViewModels.Books.EditVM
@using UserManager.Entities;
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    Book item = (Book)ViewData["item"];
}

<td>
    <fieldset>
        <legend> Form </legend>
        <form action="/Books/Edit" method="post">
            @Html.HiddenFor(m => m.Id)
            <table>
                <tr>
                    <td> @Html.LabelFor(m=>m.Title) </td>
                    <td>
                        @Html.TextBoxFor(m => m.Title)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m => m.Title, null, new { style = "color:red" })
                    </td>
                </tr>
                <tr>
                    <td> @Html.LabelFor(m=>m.Author) </td>
                    <td>
                        @Html.TextBoxFor(m=>m.Author)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(m=>m.Author,null,new {style="color:red" })
                    </td>
                </tr>                
                <tr>
                    <td>
                        <input type="submit" value="Save" />
                    </td>
                </tr>

            </table>

        </form>
    </fieldset>
</td>

